body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 600px;
    background-color: #ffffff;
    align-items: center;
    font-family: sans-serif;
  }

  .login {
    background-color: #852121;
    width: 350px;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 10px;
  }

  .login h2 {
    margin: 0 0 20px;
    width: 100%;
    color: #ffffff;
    margin-bottom: 25px;
  }

  .input-grup {
    position: relative;
    width: 100%;
    margin-bottom: 25px;
  }

  .input-grup input {
    height: 50px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 10px;
    border: 3px solid black;
    border-radius: 10px;
  }

  .input-grup span {
    position: absolute;
    top: 12px;
    left: 20px;
    padding: 0px;
    text-transform: capitalize;
    background-color: white;
    transition: 0.5s;
  }

  .input-grup input[type="submit"] {
    background-color: #ffffff;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    width: 35%;
    transition: 0.5s;
  }

  .input-grup input[type="submit"]:hover {
    width: 100%;
  }
